// Typography

@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

$kavoon: 'Kavoon', cursive;

h1 {
  font-family: $kavoon;
}

// Colours
$darkBlue: #191D88;
$blue: #1450A3;
$lightBlue: #337CCF;
$yellow: #FFC436;
$white: #F5F5F5;
$black: #0A0A0A;

// Buttons